body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    margin: 0;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
}

.card {
    background-color: #1e293b;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}
.card-content {
    padding:10px
}
.card-content h3{
    margin: 0;
    font-size: 16px;
}
.card-content p{
    margin: 4px 0;
    font-size: 13px;
    color: #cbd5f5;
}